*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
  /* height: 100%; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;

}
.card{
  height:350px ;
  width:300px ;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 


}
.card .top{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 4px;
  font-size: 15px;
  gap: 5px;
  background-color: transparent;
  color: #b1b1b1;
}
.center {
  padding: 2px;
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 18px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap: 5px;  
  margin-top: 10px;        
}

.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 400;
  border-radius: 05px;


}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.0px solid #bdbdbd;
  padding: 15px;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-weight: 600;

}
.bottom h3{
  font-size: 20px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}